{% extends "base.html" %}
{% load static %}
{% block title %}
    Home
{% endblock title %}

{% block main %}
    <!-- navbar-->
  {% include "header.html" %}
    <div id="all">
      <div id="content">
        <div class="container">
          {% comment %} <div class="row">
            <div class="col-md-12">
              <div id="main-slider" class="owl-carousel owl-theme">
                <div class="item"><img src="{% static 'img/main-slider1.jpg' %}" alt="" class="img-fluid"></div>
                <div class="item"><img src="{% static 'img/main-slider2.jpg' %}" alt="" class="img-fluid"></div>
                <div class="item"><img src="{% static 'img/main-slider3.jpg' %}" alt="" class="img-fluid"></div>                
              </div>
            </div>
          </div> {% endcomment %}
        </div>        
        <div id="advantages">
          <div class="container">
            <div class="row mb-4">
              <div class="col-md-6">
                <div class="box clickable d-flex flex-column justify-content-center mb-0 h-100">
                  <div class="icon"><i class="fa fa-heart"></i></div>
                  <h3><a href="#">We love our customers</a></h3>
                  <p class="mb-0">We are known to provide best possible service ever from popular markets</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="box clickable d-flex flex-column justify-content-center mb-0 h-100">
                  <div class="icon"><i class="fa fa-tags"></i></div>
                  <h3><a href="#">Best prices</a></h3>
                  <p class="mb-0">You can check that the height of the boxes adjust when longer text like this one is used in one of them.</p>
                </div>
              </div>
              {% comment %} <div class="col-md-4">
                <div class="box clickable d-flex flex-column justify-content-center mb-0 h-100">
                  <div class="icon"><i class="fa fa-thumbs-up"></i></div>
                  <h3><a href="#">100% satisfaction guaranteed</a></h3>
                  <p class="mb-0">Free returns on everything for 3 months.</p>
                </div>
              </div> {% endcomment %}
            </div>            
          </div>          
        </div>        
        <div id="hot">
          <div class="box py-4">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <h2 class="mb-0">Hot this week</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="product-slider owl-carousel owl-theme">
            {% for inventory in inventories %}
                {% for product in inventory.product.all %}
                    <div class="item">
                        <div class="product">
                          <div class="flip-container">
                            <div class="flipper">
                              <div class="front"><a href="{% url 'detail' product.pk %}"><img src="{{ product.image.url }}" alt="" class="img-fluid"></a></div>
                              <div class="back"><a href="{% url 'detail' product.pk %}"><img src="{{ product.image.url }}" alt="{% static 'img/logo.png' %}" class="img-fluid"></a></div>
                            </div>
                          </div><a href="{% url 'detail' product.pk %}" class="invisible"><img src="{{ product.image.url }}" alt="" class="img-fluid"></a>
                          <div class="text">
                            <h3><a href="{% url 'detail' product.pk %}">{{ product.name }}</a></h3>
                            <p class="price">
                              <del>{{ product.price }}</del> {{ product.discount_price }}
                            </p>
                          </div>
                          <!-- /.text-->
                          <div class="ribbon sale">
                            <div class="theribbon">{{ product.discount }}%</div>
                            <div class="ribbon-background"></div>
                          </div>
                          <!-- /.ribbon-->
                          <div class="ribbon new">
                            <div class="theribbon">NEW</div>
                            <div class="ribbon-background"></div>
                          </div>
                          <!-- /.ribbon-->
                          <div class="ribbon gift">
                            <div class="theribbon">SALE</div>
                            <div class="ribbon-background"></div>
                          </div>
                          <!-- /.ribbon-->
                        </div>
                <!-- /.product-->
              </div>
                {% endfor %}
            {% endfor %}
              <!-- /.product-slider-->
            </div>
            <!-- /.container-->
          </div>
          <!-- /#hot-->
          <!-- *** HOT END ***-->
        </div>
        <!--
        *** GET INSPIRED ***
        _________________________________________________________
        -->
        <div class="container">
          <div class="col-md-12">
            <div class="box slideshow">
              <h3>Get Inspired</h3>
              <p class="lead">Get best discount information from best brands</p>
              <div id="get-inspired" class="owl-carousel owl-theme">
                <div class="item"><a href="#"><img src="{% static 'img/getinspired1.jpg' %}" alt="Get inspired" class="img-fluid"></a></div>
                <div class="item"><a href="#"><img src="{% static 'img/getinspired2.jpg' %}" alt="Get inspired" class="img-fluid"></a></div>
                <div class="item"><a href="#"><img src="{% static 'img/getinspired3.jpg' %}" alt="Get inspired" class="img-fluid"></a></div>
              </div>
            </div>
          </div>
        </div>
        <!-- *** GET INSPIRED END ***-->
        <!--
        *** BLOG HOMEPAGE ***
        _________________________________________________________
        -->
        <div class="box text-center">
          <div class="container">
            <div class="col-md-12">
              <h3 class="text-uppercase">From our blog</h3>
              <p class="lead mb-0">What's new in the world of fashion? <a href="{% url 'blog' %}">Check our blog!</a></p>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="col-md-12">
            <div id="blog-homepage" class="row">
              <div class="col-sm-6">
                <div class="post">
                  <h4><a href="{% url 'post' %}">Fashion now</a></h4>
                  <p class="author-category">By <a href="#">John Slim</a> in <a href="">Fashion and style</a></p>
                  <hr>
                  <p class="intro">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                  <p class="read-more"><a href="{% url 'post' %}" class="btn btn-primary">Continue reading</a></p>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="post">
                  <h4><a href="{% url 'post' %}">Who is who - example blog post</a></h4>
                  <p class="author-category">By <a href="#">John Slim</a> in <a href="">About Minimal</a></p>
                  <hr>
                  <p class="intro">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                  <p class="read-more"><a href="{% url 'post' %}" class="btn btn-primary">Continue reading</a></p>
                </div>
              </div>
            </div>
            <!-- /#blog-homepage-->
          </div>
        </div>
        <!-- /.container-->
        <!-- *** BLOG HOMEPAGE END ***-->
      </div>
    </div>
    <!--
    *** FOOTER ***
    _________________________________________________________
    -->
    {% include "footer.html"%}
    
 {% endblock main %}